    <head>

        <title>

            SocialClub

        </title>

    </head>

    <body>

        <h1>

            <a href="/">

                Welcome to SocialClub

            </a>

        </h1>

        <div id="text" class="body-container" >

            <h3>

                What is SocialClub?

            </h3>

            <p class="no-text-indent body-paragraph text-align-center">

                <b>SocialClub is a basic message board web application.</b>

            </p>

            <p class="body-paragraph">
    
                SocialClub has a concept of users and text posts. Users log in with basic user authentication and can read/create text posts. Users have privileges of "junior" or "senior." Juniors can make posts or delete their own posts, and seniors can moderate by deleting anyone's posts and creating/deleting users. Users have their own car attribute and avatar; It's practically facebook.

            </p>

            <p class="body-paragraph">

                I wanted to learn how to build a web application using Node.js and MVC. Sails had great documentation and tutorials online. I'm very greatful for Sails! SocialClub uses Sails.js, Grunt.Js, Angular.js, jQuery, Q, and hand-written HTML and CSS.

            </p>

			<div></div>

		</div>

    </body>